.nav {
  padding: 20px;
  background: url('../../assets/img/subheader3.jpg') repeat center;
  color: #fff;
  grid-area: nav;
  width: 280px;
}

.item a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

 .catTitle{
  font-size: 22px;
  margin-top: 25px;
  margin-bottom: 14px;
 } 
 
 .catList{
  font-size: 18px;
  font-weight: 600;
  list-style: none;
  margin: 0;
  padding: 0;
 }
 .catItem{
 font-size: 18px;
  margin-bottom: 7px;
  color: chocolate;
  cursor: pointer;
  transition: all 0.3s ease-in;
 }

.catItem:hover{
  color: rgb(234, 158, 104);
  border-bottom: 1px solid #b7915f;
 }

.catItem.active {
color: #b7915f;
border-bottom: 1px solid #b7915f;
 }

 .adv img {
  width: 280px;
  margin-left: -20px;
 }