
nav .pagination {
list-style: none;
display: flex;
justify-content: center;
align-items: center;
padding: 5px;
}

.list {
border: 1px solid #343434;
width: 50px;
height: 35px;
padding: 1px;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
cursor: pointer;
transition: all 0.2s;
}

.list.active{
  background-color: chocolate;
}

.list:hover{
  background-color: rgb(240, 215, 197);
  color: #000;
}